body {
  background-color: #f1eee6;
}

.thlContainer {
  cursor: pointer;
}

.xContainer {
  cursor: pointer;
}

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.sidebar {
  height: 100%;
  width: 100%;
  left: 100%;
  top: 0%;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #353935;
  /* opacity: 100%; */
  z-index: 10;
  /* transition: left 0.3s ease-in-out; */
  opacity: 0;
  transition: opacity .2s linear;
}

.sidebar.open {
  left: 0;
  opacity: 100;
  /* transition: opacity .2s linear; */
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #353935;
  font-size: 25px;
  font-weight: 100; 
  margin-left: 5%; 
  letter-spacing: 5px; 
  float: left;
}

.link:hover {
  text-decoration: underline;
}

.option {
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
  color: #f1eee6;
  font-size: 40px;
}

.option:hover {
  text-decoration: underline;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
